<h1><%= t('backend.product.show.header')%></h1>
<table>
	<tr>
		<th><%= t('backend.product.fields.name')%></th>
		<th><%= t('backend.product.fields.description')%></th>
		<th><%= t('backend.product.fields.price')%></th>
		<th><%= t('backend.product.fields.inventory')%></th>
		<th><%= t('backend.product.fields.active')%></th>
		<th><%= t('backend.product.fields.tags')%></th>
		
	</tr>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= product.name %>
    </td>
    <td>
      <%= product.description %>
    </td>
    <td>
      <%= "$#{product.price}" %>
    </td>
    <td>
      <%= display_inventory product %>
    </td>
    <td>
      <%= check_box_tag "inventory", "inventory", product.inventory, disabled: true%>
    </td>
    <td>
      <% if product.tags%>
    	  <% product.tags.each do |k, v|%>
          <%= "#{k}: #{v}" %>
        <%end%> 
      <% else %>
        <%= 'No tags have been added' %>
      <%end%> 
    </td>
  </tr>
  <% end %>
</table>

