<h1>Lista de productos</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th>Inventory</th>
		<th>Active</th>
		<th>Tags</th>
		
	</tr>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= product.name %>
    </td>
    <td>
      <%= product.description %>
    </td>
    <td>
      <%= "$#{product.price}" %>
    </td>
    <td>
      <%= display_inventory product %>
    </td>
    <td>
      <%= check_box("display", product.inventory, {disabled: 'disabled'}) %>
    </td>
    <td>
      <% if product.tags%>
    	  <% product.tags.each do |k, v|%>
          <%= "#{k}: #{v}" %>
        <%end%> 
      <%end%> 
    </td>
  </tr>
  <% end %>
</table>

